.search-result-container {
  position: relative !important;
  /* width: 76vw !important; */
  margin-left: 1vw !important;
  left: 1.4% !important;
  height: 16% !important;
  font-size: 12px !important;
}

.search-result-grid {
  padding: 5px !important;
  height: 12% !important;
  width: 100% !important;
}

.search-result-grid-row {
  background: #fff !important;
  border: 1px solid #ccc !important;
}

.search-result-checkbox {
  margin-bottom: 31px !important;
  margin-right: 8px !important;
}

.border-radius {
  border-radius: 50% !important;
}

.wordBrek {
  word-break: break-all !important;
}

.action-column {
  display: flex !important;
  justify-content: end !important;
  margin-left: 3% !important;
  gap: 8px !important;
}

.add-list-btn {
  margin-left: 11% !important;
  margin-top: 3px !important;
  text-decoration: underline;
  color: blue;
  cursor: pointer !important;
}

.search-result-count {
  position: relative !important;
  width: 76vw !important;
  margin-left: 3vw !important;
  color: #999;
  font-weight: 500;
}

.selected {
  position: relative !important;
  display: flex;
  width: 75vw !important;
  color: #999;
  font-weight: 500;
  margin-left: 4vw !important;
  margin-bottom: 6px !important;
  font-size: 14px;
}

.usercart-container {
  width: 23vw !important;
  margin: 5px !important;
  margin-right: 1% !important;
  height: 70vh !important;
  background: #fff;
  border: 1px solid #eee;
  overflow-y: scroll !important;
}
.add-user-to-list {
  padding-bottom: 15px !important;
}
.user-cart-close-icon {
  position: absolute !important;
  right: 18px !important;
  cursor: pointer !important;
}
.user-cart-name {
  font-size: 13px !important;
  font-weight: 600 !important;
}

.company-details {
  margin-top: 5px !important;
  color: #666 !important;
  border-bottom: 1px solid #ccc;
}

.previouscompany {
  border-bottom: 1px solid #ccc;
  margin: 10px 0px !important;
  padding-bottom: 10px !important;
}
.user-cart-work {
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #666 !important;
}

.user-cart-description {
  margin: 10px 3px;
  font-size: 11px !important;
  word-wrap: break-word !important;
}

.user-cart-btn {
  padding: 8px 55px !important;
  margin-left: 10px !important;
  border-radius: 6px !important;
}
