.search-result-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.cart {
  display: flex;
  padding: 20px 16px;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  background: #fff;
  border: 1px solid #fff;
}
.cart:hover {
  display: flex;
  padding: 20px 16px;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border: 1px solid #bfbebe;
  background: #fff;
}
.search-result-grid {
  height: 12% !important;
  width: 100% !important;
}

.search-result-grid-row {
  background: #fff !important;
  border: 1px solid #eee !important;
  border-radius: 3px;
}

.search-result-grid-row:hover {
  background: #fff !important;
  border: 1px solid #aaa !important;
  border-radius: 3px;
}

.search-result-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.socialSvg {
  width: 20px;
  height: 20px;
}

.linkedinSvg {
  width: 20px;
  height: 20px;
}

.cart-body {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.cart-img {
  width: 58px;
  height: 58px;
  border-radius: 100px;
}

.cart-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  flex: 1 0 0;
  align-self: stretch;
}

.cart-name-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between !important;
  gap: 16px;
}
.cart-user-name {
  color: #333;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.34px;
  cursor: pointer;
}

.cart-user-icons {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-right: 0.8vw;
}

.cart-description {
  align-self: stretch;
  color: #666;
  align-self: stretch;
  font-family: Inter;
  word-break: break-all;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.3px;
}

.cart-add-to-list {
  align-self: stretch;
  color: #2b81e7;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  text-decoration-line: underline;
  cursor: pointer;
}
.cart-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  cursor: pointer;
}

.border-radius {
  border-radius: 50% !important;
}

.wordBrek {
  word-break: break-all !important;
}

.action-column {
  display: flex !important;
  justify-content: end !important;
  margin-left: 3% !important;
  gap: 8px !important;
}

.add-list-btn {
  margin-left: 11% !important;
  margin-top: 3px !important;
  text-decoration: underline;
  color: #2185d0;
  cursor: pointer !important;
}

.search-result-count {
  position: relative !important;
  color: #999;
  font-weight: 500;
  width: 77vw !important;
}

.usercart-container {
  width: 24vw !important;
  margin-right: 2% !important;
  height: 70vh !important;
  background: #fff;
  border: 1px solid #eee;
  overflow-y: scroll !important;
  position: relative;
}
.add-user-to-list {
  padding-bottom: 15px !important;
}
.user-cart-close-icon {
  position: absolute !important;
  right: 18px !important;
  cursor: pointer !important;
}
.user-cart-name {
  font-size: 16px !important;
  font-weight: 500 !important;
}

.company-details {
  margin-top: 5px !important;
  color: #666 !important;
  border-bottom: 1px solid #ccc;
}

.previouscompany {
  border-bottom: 1px solid #ccc;
  margin: 10px 0px !important;
  padding-bottom: 10px !important;
  color: #666 !important;
}

.user-cart-work {
  font-size: 15px !important;
  font-weight: 500 !important;
  color: #666 !important;
}

.user-cart-description {
  display: block;
  display: -webkit-box;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 1px;
  margin-right: 8px;
  font-size: 11px !important;
  word-wrap: break-word !important;
  word-break: break-all !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-cart-btn {
  padding: 8px 55px !important;
  margin-left: 10px !important;
  border-radius: 6px !important;
}
.userName {
  font-size: 14px !important;
  font-weight: 500 !important;
}

.userDescription {
  font-size: 13px !important;
  font-weight: 500 !important;
  margin-top: -7px !important;
}

.dropdown .icon {
  padding: 8px !important;
}

.dropdown .icon .clear {
  padding: 8px !important;
}
