/*----------------------sidebar ---------------------------*/

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.d_flex {
  display: flex !important;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 18vw !important;
  background-color: var(--color-white);
  border-right: 1px solid #cdcdcd;
  height: 100vh !important;
  font-family: var(--font-inter);
}

.sidebar-header {
  border-bottom: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  height: 15vh !important;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-36);
  align-items: center;
  justify-content: flex-start;
  margin-left: -10px !important;
  font-size: 34px;
  color: #464646;
}

.sidebar-middle {
  border-bottom: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  height: 55vh !important;
}

.getlist {
  font-weight: 800;
}
.a {
  font-weight: 500;
  color: #1be885;
}
.getlista {
  position: relative;
  letter-spacing: -0.02em;
}

.sidebar-list {
  display: flex;
  padding-left: 25px;
  padding-top: 25px;
}

.sidebar-add-list {
  display: flex;
  padding-left: 25px;
  padding-top: 25px;
  color: #2185d0 !important;
}

.sidebar-f-list {
  display: flex;
  padding-left: 25px;
  padding-top: 15px;
  gap: var(--gap-base);
}

.sidebar-icons {
  padding-right: 0px !important;
}

.default-list {
  padding-right: 70px !important;
  font-weight: 500;
}

.default-list1 {
  padding-right: 70px !important;
  padding-left: 10px !important;
  font-weight: 500;
}

.footer-actions {
  padding-bottom: 20px !important;
  border-bottom: 1px solid var(--color-lightgray-100);
}

.widget-last {
  height: 8vh !important;
  border-radius: var(--br-7xs);
  width: 280px;
  padding: 16px var(--padding-5xl);
  justify-content: center;
  gap: 10px;
  color: var(--color-gray-100);
}

i.icon{
  font-size: 14px !important;
}

.marginLeft {
  margin-left: 5% !important;
}
.marginRight {
  margin-right: 5% !important;
}

.marginLeft10 {
  margin-left: 10% !important;
}

.marginLeft20 {
  margin-left: 10% !important;
}
.marginLeft30 {
  margin-left: 10% !important;
}
.marginLeft40 {
  margin-left: 10% !important;
}

/*----------------------------header--------------------------------*/
.header-class {
  display: flex !important;
  position: absolute;
  top: 20px !important;
  height: 40px !important;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 77vw !important;
  left: 2% !important;
  gap: 36px !important;
  font-size: var(--font-size-lg);
}

.common-header {
  display: flex !important;
  position: absolute;
  top: 20px !important;
  height: 40px !important;
  box-sizing: border-box;
  width: 77vw !important;
  left: 2% !important;
  gap: 36px !important;
  font-size: var(--font-size-lg);
}

.top-tab {
  display: flex;
  flex: 1 !important;
  align-items: flex-start;
  /* margin-right: 40% !important; */
  width: 60% !important;
  gap: 20px !important;
  color: var(--color-dodgerblue);
  margin-top: 10px;
}

.div {
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 500;
  color: var(--color-dodgerblue);
}
.balance {
  border-radius: 6px !important;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  padding: 5px !important;
  align-items: center;
  justify-content: flex-start;
  gap: 8px !important;
  font-size: var(--font-size-sm);
  width: 22% !important;
}
.notification {
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 500;
  display: none;
}

.top-actions {
  display: flex;
  gap: 10px !important;
  font-size: var(--font-size-base);
  width: 18% !important;
  margin-top: 10px;
}

.list-wrapper,
.list-wrapper {
  padding: var(--padding8px) var(--padding-11xs);
  align-items: center;
  color: var(--color-dimgray-100);
}

.profile {
  margin-left: 10px !important;
}

.right-panel {
  width: 80vw !important;
  background-color: #fafafa !important;
  position: relative !important;
}

.notification-count {
  background: #2185d0;
  border-radius: 50%;
  color: #fff;
  height: 18px;
  position: absolute;
  margin-left: 8px;
  text-align: center;
  top: 0px;
  width: 18px;
  font-size: 11px ;
}

/*----------------------------header-end--------------------------------*/


/*--------------------------search bar ----------------------*/

.input-wrapper {
  width: 70%;
  height: 60px !important;
  border: none;
  border-radius: 30px;
  padding: 0 15px !important;
  box-shadow: 0px 0px 8px #ddd;
  background-color: rgba(222, 222, 222, 0.2);
  display: flex;
  align-items: center;
  gap: 16px !important;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 5px;
  font-size: 18px !important;
}

input:focus {
  outline: none;
}


.common-input-wrapper {
  width: 80%;
  margin-bottom: 20px !important;
  height: 52px !important;
  border: none;
  border-radius: 30px;
  padding: 0 15px !important;
  box-shadow: 0px 0px 8px #ddd;
  background-color: rgba(222, 222, 222, 0.2);
  display: flex;
  align-items: center;
  gap: 16px !important;
}

/*------------------------end-----------------------*/

.borderRadius{
  border-radius: 50% !important;
}