/*----------------------sidebar ---------------------------*/

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-inter) !important;
}

.d_flex {
  display: flex !important;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 18vw !important;
  background-color: var(--color-white);
  border-right: 1px solid #cdcdcd;
  height: 100vh !important;
  font-family: var(--font-inter);
}

.sidebar-header {
  border-bottom: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  height: 15vh !important;
  display: flex;
  flex-direction: row;
  padding: 0 7% !important;
  align-items: center;
  justify-content: flex-start;
  margin-left: -10px !important;
  font-size: 34px;
  color: #464646;
}
.sidebar-header .top {
  cursor: pointer !important;
  position: absolute;
  top: 5vh !important;
}
.sidebar-middle {
  border-bottom: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  height: 55vh !important;
  overflow-y: scroll !important;
}

.getlist {
  font-weight: 800;
  padding-left: 15% !important;
}
.a {
  font-weight: 500;
  color: #1be885;
}
.getlista {
  position: relative;
  letter-spacing: -0.02em;
}

.sidebar-list {
  display: flex;
  padding-left: 12% !important;
  padding-top: 8% !important;
  color: #666;
  cursor: pointer !important;
}

.sidebar-add-list {
  display: flex;
  padding-left: 12% !important;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #2185d0 !important;
  cursor: pointer !important;
}

.sidebar-f-list {
  display: flex;
  padding-left: 12% !important;
  padding-top: 15px;
  gap: var(--gap-base);
}

.sidebar-icons {
  padding-right: 0px !important;
}

.default-list {
  padding-right: 15% !important;
  font-weight: 500;
}

.default-list-lock {
  padding-right: 20% !important;
  padding-left: 10px !important;
  font-weight: 500;
}

.default-list1 {
  padding-right: 2% !important;
  padding-left: 10px !important;
  font-weight: 500;
}

.footer-actions {
  padding-bottom: 20px !important;
  border-bottom: 1px solid var(--color-lightgray-100);
  cursor: pointer;
}

.widget-last {
  height: 8vh !important;
  border-radius: var(--br-7xs);
  width: 18vw !important;
  padding: 8% 12% !important;
  justify-content: center;
  gap: 10px;
  color: var(--color-gray-100);
}

i.icon {
  font-size: 14px !important;
}

.marginLeft {
  margin-left: 5% !important;
}
.marginRight {
  margin-right: 5% !important;
}

.marginLeft10 {
  margin-left: 10% !important;
}

.marginLeft20 {
  margin-left: 10% !important;
}
.marginLeft30 {
  margin-left: 10% !important;
}
.marginLeft40 {
  margin-left: 10% !important;
}

/*----------------------------header--------------------------------*/
.header-class {
  display: flex !important;
  position: absolute;
  top: 20px !important;
  height: 40px !important;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 77vw !important;
  left: 2% !important;
  gap: 36px !important;
  font-size: var(--font-size-lg);
}

.common-header {
  display: flex !important;
  align-items: stretch;
  position: absolute;
  top: 3.7vh !important;
  height: 40px !important;
  box-sizing: border-box;
  width: 77vw !important;
  left: 2% !important;
  gap: 1px !important;
  font-size: var(--font-size-lg);
  cursor: pointer !important;
}

.top-tab {
  display: flex;
  flex-grow: 8 !important;
  align-items: flex-start;
  gap: 20px !important;
  color: var(--color-dodgerblue);
  margin-top: 10px;
}

.div {
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 500;
  color: var(--color-dodgerblue);
}
.balance-container {
  display: flex;
  justify-content: end;
  flex-grow: 1 !important;
  margin-top: 9px !important;
  height: 80% !important;
}
.balance {
  display: flex;
  flex-direction: row;
  padding: 5px !important;
  align-items: center;
  font-size: var(--font-size-sm);
  height: 80% !important;
}
.balance-background {
  gap: 8px !important;
  display: flex;
  background-color: var(--color-white);
  padding: 8px !important;
  border-radius: 6px !important;
}
.notification {
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 500;
  display: none;
}
.top-actions-container {
  flex-grow: 1 !important;
}
.top-actions {
  display: flex;
  gap: 10px !important;
  font-size: var(--font-size-base);
  /* width: 24% !important; */
  margin-top: 10px;
  justify-content: flex-end;
}

.list-wrapper,
.list-wrapper {
  padding: var(--padding8px) var(--padding-11xs);
  align-items: center;
  color: var(--color-dimgray-100);
}

.profile {
  margin-left: -4px !important;
  margin-top: 3px !important;
}

.user-parent {
  display: flex;
}

.right-panel {
  width: 82vw !important;
  background-color: #fafafa !important;
  position: relative !important;
}

.notification-count {
  background: #2185d0;
  border-radius: 50%;
  color: #fff;
  height: 18px;
  position: absolute;
  margin-left: 10px;
  text-align: center;
  top: -4px;
  left: 1px !important;
  width: 18px;
  font-size: 11px;
}

/*----------------------------header-end--------------------------------*/

/*--------------------------search bar ----------------------*/

.input-wrapper {
  height: 60px !important;
  border: none;
  border-radius: 30px;
  padding: 0 15px !important;
  box-shadow: 0px 0px 8px #ddd;
  background-color: rgba(222, 222, 222, 0.2);
  display: flex;
  align-items: center;
  gap: 16px !important;
}

.input-wrapper,
.common-input-wrapper .searchIcon {
  cursor: pointer !important;
}
input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 5px;
  font-size: 17px !important;
  color: #444 !important;
}

input:focus {
  outline: none;
}

.common-input-wrapper {
  width: 85%;
  margin-bottom: 2% !important;
  height: 52px !important;
  border: none;
  border-radius: 30px;
  padding: 0 15px !important;
  box-shadow: 0px 0px 8px #ddd;
  background-color: rgba(222, 222, 222, 0.2);
  display: flex;
  align-items: center;
  gap: 16px !important;
}

/*------------------------end-----------------------*/

.borderRadius {
  border-radius: 50% !important;
}

/*----------------------list page start -------------*/

.ui.table thead th {
  color: #999 !important;
}

.tag-item {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 30px !important;
  margin-right: 5px !important;
  margin-bottom: 6px !important;
  font-size: 12px !important;
  padding: 1px 10px;
  color: #888 !important;
}

.icons > i {
  font-size: 11px !important;
}

.tag-color1 {
  width: 9px;
  height: 9px;
  margin-right: 4px;
  border-radius: 50%;
  background: #e2a93a;
}

.tag-color2 {
  width: 9px;
  height: 9px;
  margin-right: 4px;
  border-radius: 50%;
  background: #cf1876;
}
.tag-color3 {
  width: 9px;
  height: 9px;
  margin-right: 4px;
  border-radius: 50%;
  background: #5551ff;
}

.tag-color4 {
  width: 9px;
  height: 9px;
  margin-right: 4px;
  border-radius: 50%;
  background: #0fa958;
}
.tag-color5 {
  width: 9px;
  height: 9px;
  margin-right: 4px;
  border-radius: 50%;
  background: #2b81e7;
}

.tag-color6 {
  width: 9px;
  height: 9px;
  margin-right: 4px;
  border-radius: 50%;
  background: #e2a93a;
}

.tag-color7 {
  width: 9px;
  height: 9px;
  margin-right: 4px;
  border-radius: 50%;
  background: #cf1876;
}
.tag-color8 {
  width: 9px;
  height: 9px;
  margin-right: 4px;
  border-radius: 50%;
  background: #5551ff;
}

.tag-color9 {
  width: 9px;
  height: 9px;
  margin-right: 4px;
  border-radius: 50%;
  background: #0fa958;
}
.tag-color10 {
  width: 9px;
  height: 9px;
  margin-right: 4px;
  border-radius: 50%;
  background: #2b81e7;
}
.commonSearchCommponent {
  position: relative !important;
  left: 10% !important;
}

.listActions {
  display: flex;
  width: 95% !important;
  margin-left: 2% !important;
}

.listActions-checkbox {
  margin-right: 10px !important;
  padding-top: 4px !important;
  cursor: pointer !important;
}
.listActions-btns {
  color: #2185d0 !important;
  margin-bottom: 1% !important;
  cursor: pointer !important;
}
.marginRight7 {
  margin-right: 7% !important;
}
.marginRight6 {
  margin-right: 6% !important;
}

.list-table {
  width: 95% !important;
  margin-left: 2% !important;
  background: #fff !important;
  padding-top: 5px !important;
}

.list-person-name {
  font-size: 13px !important;
  font-weight: 600 !important;
  word-break: break-all !important;
}

.list-person-work {
  color: #666 !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  word-break: break-all !important;
}
.list-header-row {
  margin-top: 5px !important;
  color: #ccc;
  font-size: 13px !important;
}
.listActionBtns {
  color: #2185d0 !important;
  font-size: 12px !important;
  cursor: pointer !important;
  display: flex !important;
  justify-content: flex-end !important;
}
.listActionBtns > i {
  font-size: 12px !important;
}
.error {
  color: red !important;
}

.success {
  color: green !important;
}

/* Styles to hide the scrollbar */
.scrollable-container-sidebar::-webkit-scrollbar {
  width: 0px;
  color: #fff;
}

.scrollable-container-sidebar::-webkit-scrollbar-thumb {
  background-color: #fff;
  color: #fff;
  border-radius: 0px;
}

/* Styles to hide the scrollbar */
.scrollable-container::-webkit-scrollbar {
  width: 0px; /* Adjust the width of the scrollbar if needed */
  color: #fff;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #fff;
  color: #fff;
  border-radius: 5px;
}

.list-usercart-container {
  width: 20vw !important;
  margin: 5px !important;
  margin-top: 2.7% !important;
  margin-right: 0% !important;
  height: 70vh !important;
  background: #fff;
  border: 1px solid #fff;
  overflow-y: scroll !important;
  position: relative;
}

.list-user-cart-close-icon {
  position: absolute !important;
  right: 20px !important;
  cursor: pointer !important;
}
.list-user-cart-name {
  font-size: 13px !important;
  font-weight: 600 !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.list-company-details {
  margin-top: 5px !important;
  color: #666 !important;
  border-bottom: 1px solid #ccc;
}

.list-contact-details {
  border-bottom: 1px solid #ccc;
  margin: 10px 0px !important;
  padding-bottom: 10px !important;
}
.list-user-cart-work {
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #666 !important;
}

.list-user-cart-description {
  display: block;
  display: -webkit-box;
  margin: 10px 3px;
  font-size: 11px !important;
  word-wrap: break-word !important;
  word-break: break-all !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-company-details {
  margin-top: 5px !important;
  color: #666 !important;
  border-bottom: 1px solid #ccc;
}
.list-user-cart-btn {
  padding: 6px 40px !important;
  margin-top: 6% !important;
  border-radius: 5px !important;
  font-size: 12px !important;
}

.list-selected {
  position: relative !important;
  display: flex;
  width: 75vw !important;
  color: #999;
  font-weight: 500;
  margin-left: 4% !important;
  margin-bottom: 6px !important;
  font-size: 14px;
}

.fontSize12 {
  font-size: 12px !important;
}
.list-contacts > i {
  font-size: 12px !important;
  margin-right: 5px !important;
}

.alignCenter {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}
.contact-details-header {
  font-size: 12px !important;
  color: #666;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px !important;
}

.list-user-tags {
  border-bottom: 1px solid #ccc;
  margin: 10px 0px !important;
  padding-bottom: 10px !important;
}

.padding10 {
  padding: 4% !important;
}

.paddingBtn {
  padding: 8% 4% !important;
}
.wordBreak {
  word-break: break-all !important;
}
.padding5 {
  padding: 8% 4% !important;
}
.previousCompanyPadding {
  padding: 1px 4% !important;
}
.paddingImg {
  padding: 4% 4% 2% 4% !important;
}

.paddingUsrDetails {
  padding: 2% 4% 4% 4% !important;
}
.paddingTop5 {
  padding-top: 2% !important;
}

.user-cart-delete-btn {
  font-size: 12px !important;
  color: red !important;
  margin-left: 32% !important;
}

.prev-comp-accord {
  display: flex;
  justify-content: space-between;
  font-size: 12px !important;
}

.ellipsis-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.ellipsis-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*------------------------end list page ----------------------*/

.field > label {
  font-size: 14px !important;
}
.listName > input {
  font-size: 13px !important;
  height: 35px !important;
}

.accord-title {
  display: flex;
  justify-content: space-between;
  font-size: 13px !important;
  margin: -4% !important;
  padding: 1% 4% !important;
  color: #666;
  font-weight: 600;
}

.accord-container {
  border-bottom: 1px solid #ccc;
  color: #666 !important;
  padding-bottom: 3% !important;
  font-size: 11px !important;
}

.dimmer-loader-container .dimmer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 10;
}

.view-more-button-container {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  margin-top: 20px; /* Adjust the margin as needed */
}

/* Styling for the "View More" button */
.view-more-button {
  background-color: #007bff; /* Button background color */
  color: white; /* Text color */
  border: none;
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.view-more-button:hover {
  background-color: #0056b3; /* Darker color on hover */
}

.selectInput > input {
  padding-left: 12px !important;
}
