/*----------------------sidebar ---------------------------*/

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-inter) !important;
}

.d_flex {
  display: flex !important;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 18vw !important;
  background-color: var(--color-white);
  border-right: 1px solid #cdcdcd;
  height: 100vh !important;
  font-family: var(--font-inter);
}

.sidebar-header {
  border-bottom: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  height: 15vh !important;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-36);
  align-items: center;
  justify-content: flex-start;
  margin-left: -10px !important;
  font-size: 34px;
  color: #464646;
}

.sidebar-middle {
  border-bottom: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  height: 55vh !important;
}

.getlist {
  font-weight: 800;
}
.a {
  font-weight: 500;
  color: #1be885;
}
.getlista {
  position: relative;
  letter-spacing: -0.02em;
}

.sidebar-list {
  display: flex;
  padding-left: 25px;
  padding-top: 25px;
}

.sidebar-add-list {
  display: flex;
  padding-left: 25px;
  padding-top: 25px;
  color: #2185d0 !important;
}

.sidebar-f-list {
  display: flex;
  padding-left: 25px;
  padding-top: 15px;
  gap: var(--gap-base);
}

.sidebar-icons {
  padding-right: 0px !important;
}

.default-list {
  padding-right: 70px !important;
  font-weight: 500;
}

.default-list1 {
  padding-right: 55px !important;
  padding-left: 10px !important;
  font-weight: 500;
}

.footer-actions {
  padding-bottom: 20px !important;
  border-bottom: 1px solid var(--color-lightgray-100);
}

.widget-last {
  height: 8vh !important;
  border-radius: var(--br-7xs);
  width: 280px;
  padding: 16px var(--padding-5xl);
  justify-content: center;
  gap: 10px;
  color: var(--color-gray-100);
}

i.icon {
  font-size: 14px !important;
}

.marginLeft {
  margin-left: 5% !important;
}
.marginRight {
  margin-right: 5% !important;
}

.marginLeft10 {
  margin-left: 10% !important;
}

.marginLeft20 {
  margin-left: 10% !important;
}
.marginLeft30 {
  margin-left: 10% !important;
}
.marginLeft40 {
  margin-left: 10% !important;
}

/*----------------------------header--------------------------------*/
.header-class {
  display: flex !important;
  position: absolute;
  top: 20px !important;
  height: 40px !important;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 77vw !important;
  left: 2% !important;
  gap: 36px !important;
  font-size: var(--font-size-lg);
}

.common-header {
  display: flex !important;
  position: absolute;
  top: 20px !important;
  height: 40px !important;
  box-sizing: border-box;
  width: 77vw !important;
  left: 2% !important;
  gap: 36px !important;
  font-size: var(--font-size-lg);
}

.top-tab {
  display: flex;
  flex: 1 !important;
  align-items: flex-start;
  /* margin-right: 40% !important; */
  width: 60% !important;
  gap: 20px !important;
  color: var(--color-dodgerblue);
  margin-top: 10px;
}

/* .search-wrapper {
  border-bottom: 2px solid var(--color-dodgerblue);
  padding: var(--padding-5xs) var(--padding-11xs);
  align-items: center;
}

.list-wrapper {
  border-bottom: 2px solid var(--color-dodgerblue);
  padding: var(--padding-5xs) var(--padding-11xs);
  align-items: center;
} */
.div {
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 500;
  color: var(--color-dodgerblue);
}
.balance {
  border-radius: 6px !important;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  padding: 5px !important;
  align-items: center;
  justify-content: flex-start;
  gap: 8px !important;
  font-size: var(--font-size-sm);
  width: 22% !important;
}
.notification {
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 500;
  display: none;
}

.top-actions {
  display: flex;
  gap: 10px !important;
  font-size: var(--font-size-base);
  width: 18% !important;
  margin-top: 10px;
}

.list-wrapper,
.list-wrapper {
  padding: var(--padding8px) var(--padding-11xs);
  align-items: center;
  color: var(--color-dimgray-100);
}

.profile {
  margin-left: 10px !important;
}

.right-panel {
  width: 82vw !important;
  background-color: #fafafa !important;
  position: relative !important;
}

.notification-count {
  background: #2185d0;
  border-radius: 50%;
  color: #fff;
  height: 18px;
  position: absolute;
  margin-left: 8px;
  text-align: center;
  top: 0px;
  width: 18px;
  font-size: 11px;
}

/*----------------------------header-end--------------------------------*/

/*--------------------------search bar ----------------------*/

.input-wrapper {
  width: 70%;
  height: 60px !important;
  border: none;
  border-radius: 30px;
  padding: 0 15px !important;
  box-shadow: 0px 0px 8px #ddd;
  background-color: rgba(222, 222, 222, 0.2);
  display: flex;
  align-items: center;
  gap: 16px !important;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 5px;
  font-size: 18px !important;
}

input:focus {
  outline: none;
}

.common-input-wrapper {
  width: 80%;
  margin-bottom: 2% !important;
  height: 52px !important;
  border: none;
  border-radius: 30px;
  padding: 0 15px !important;
  box-shadow: 0px 0px 8px #ddd;
  background-color: rgba(222, 222, 222, 0.2);
  display: flex;
  align-items: center;
  gap: 16px !important;
}

/*------------------------end-----------------------*/

.borderRadius {
  border-radius: 50% !important;
}

/*----------------------list page start -------------*/

.ui.table thead th {
  color: #999 !important;
}

.tag-item {
  border: 1px solid #ccc;
  border-radius: 10px !important;
  margin-right: 5px !important;
  margin-bottom: 4px !important;
  font-size: 12px !important;
  padding: 1px 10px;
  color: #888 !important;
}

.commonSearchCommponent {
  position: relative !important;
  left: 10% !important;
}

.listActions {
  display: flex;
  width: 95% !important;
  margin-left: 2% !important;
}

.listActions-checkbox {
  margin-right: 10px !important;
  padding-top: 4px !important;
  cursor: pointer !important;
}
.listActions-btns {
  color: #2185d0;
  margin-bottom: 1% !important;
  cursor: pointer !important;
}
.marginRight7 {
  margin-right: 7% !important;
}
.marginRight6 {
  margin-right: 6% !important;
}

.list-table {
  width: 95% !important;
  margin-left: 2% !important;
  background: #fff !important;
  padding-top: 5px !important;
}

.list-person-name {
  font-size: 14px !important;
  font-weight: 600 !important;
}

.list-person-work {
  color: #666 !important;
  font-size: 13px !important;
  font-weight: 500 !important;
}
.list-header-row {
  margin-top: 5px !important;
  color: #ccc;
  font-size: 13px !important;
}
.error {
  color: red !important;
}

.success {
  color: green !important;
}

/* Styles to hide the scrollbar */
.scrollable-container::-webkit-scrollbar {
  width: 1px; /* Adjust the width of the scrollbar if needed */
  color: #fff;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #fff;
  color: #fff;
  border-radius: 5px;
}

.list-usercart-container {
  width: 20vw !important;
  margin: 5px !important;
  margin-top: 2.5% !important;
  margin-right: 0% !important;
  height: 70vh !important;
  background: #fff;
  border: 1px solid #fff;
  overflow-y: scroll !important;
}

.list-user-cart-close-icon {
  position: absolute !important;
  right: 18px !important;
  cursor: pointer !important;
}
.list-user-cart-name {
  font-size: 13px !important;
  font-weight: 600 !important;
}

.list-company-details {
  margin-top: 5px !important;
  color: #666 !important;
  border-bottom: 1px solid #ccc;
}

.list-contact-details {
  border-bottom: 1px solid #ccc;
  margin: 10px 0px !important;
  padding-bottom: 10px !important;
}
.list-user-cart-work {
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #666 !important;
}

.list-user-cart-description {
  margin: 10px 3px;
  font-size: 11px !important;
  word-wrap: break-word !important;
}

.list-user-cart-btn {
  padding: 6px 40px !important;
  margin-left: 6% !important;
  border-radius: 5px !important;
}

.contact-details-header {
  font-size: 12px !important;
  color: #666;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px !important;
}

.list-user-tags {
  border-bottom: 1px solid #ccc;
  margin: 10px 0px !important;
  padding-bottom: 10px !important;
}

.padding10 {
  padding: 10px !important;
}

.padding5 {
  padding: 5px 10px !important;
}

.paddingTop5 {
  padding-top: 5px !important;
}

.user-cart-delete-btn{
  font-size: 12px !important;
  color: red !important;
  margin-left: 32% !important;
}

.prev-comp-accord{
  display: flex;
  justify-content: space-between;
  font-size: 12px !important;
}
/*------------------------end list page ----------------------*/
