
.user-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.user-name-parent {
  display: flex;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 30px;
  color: var(--color-black);
}

.bio {
  position: absolute;
  font-size: var(--font-size-base);
  letter-spacing: -0.02em;
  line-height: 168%;
  color: #050505;
  display: inline-block;
  opacity: 0.78;
  margin-top: 25px !important;
}

.user-name {
  position: absolute;
  top: 0;
  letter-spacing: -0.02em;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  border: 1px solid #a9a9a9;
  background-color: white;
  box-sizing: border-box;
  border-radius: 8px;
  height: 90px !important;
  width: 150px !important;
}

.parent-div {
  font-size: 12px !important;
}
.span {
  color: var(--color-dimgray-100);
}
.keywords {
  text-decoration: underline;
  font-weight: 500;
  color: #333;
}

.user-container {
  position: relative;
  top: 22vh !important;
  left: 10vw !important;
  display: flex !important;
  margin-right: 20% !important;
}

.user-container-img {
  margin-right: 4% !important;
  border-radius: 50% !important;
}

.searchbar-container {
  position: relative !important;
  margin-top: 80px !important;
  top: 15vh !important;
  left: 10vw !important;
}

.searchbar-p {
  margin-left: 17% !important;
  font-size: 23px !important;
  margin-bottom: 15px !important;
  color: #666 !important;
}

.summary-grid {
  margin-left: 5% !important;
  margin-right: 2% !important;
  margin-top: 22vh !important;
}

.summary-grid-column {
  padding-left: 10px !important;
  height: 80px !important;
  color: #535353;
  width: 40% !important;
  margin-top: -2% !important;
}

.div1 {
  font-size: 25px;
  margin-bottom: 3px !important;
}


.nav_active {
  color: #2185d0 !important;
  background: #fff;
}
