.user-name-parent {
  display: flex;
  font-size: 30px;
  color: var(--color-black);
}

.bio {
  position: absolute;
  font-size: var(--font-size-base);
  letter-spacing: -0.36px;
  line-height: 168%;
  color: #050505;
  display: inline-block;
  opacity: 0.78 !important;
  margin-top: 4% !important;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
}

.user-name {
  position: absolute;
  top: 3px;
  letter-spacing: -0.02em;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  border: 1px solid #a9a9a9;
  background-color: white;
  box-sizing: border-box;
  border-radius: 8px;
  height: 90px !important;
  width: 150px !important;
}

.parent-div {
  font-size: 12px !important;
}
.span {
  color: var(--color-dimgray-100);
}
.keywords {
  text-decoration: underline;
  font-weight: 500;
  color: #333;
}

.user-container {
  position: relative;
  top: 20vh !important;
  left: 6vw !important;
  display: flex !important;
  margin-right: 16% !important;
  flex-shrink: 0 !important;
}

.user-container-img {
  border-radius: 50% !important;
}

.image-container {
  border-radius: 132px;
  border: 4px solid #1be885;
  margin-right: 2% !important;
}
.searchbar-container {
  position: relative !important;
  margin-top: 80px !important;
  top: 15vh !important;
  left: 6vw !important;
  margin-right: 16% !important;
}

.searchbar-p {
  font-size: 23px !important;
  margin-bottom: 15px !important;
  color: #000 !important;
  text-align: left;
  font-family: Inter;
  font-size: 33px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.66px;
}

.summary-grid {
  margin-left: 8% !important;
  margin-right: 6% !important;
  margin-top: 28vh !important;
}

.summary-grid-column {
  padding-left: 10px !important;
  height: 80px !important;
  color: #535353;
  width: 40% !important;
  margin-top: -2% !important;
}

.div1 {
  font-size: 25px;
  margin-bottom: 3px !important;
}

.nav_active {
  color: #2185d0 !important;
  background: #fff;
}

.summary-grid-container {
  position: relative !important;
  left: 6vw !important;
  width: 66vw !important;
  margin-top: 26vh !important;
  color: #535353;
  margin-right: 16% !important;
}

.summary-p {
  color: #666;
  /* text-align: center; */
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.3px;
}

.summary-frame {
  display: flex;
  justify-content: space-between;
  width: inherit;
  gap: 40px;
}

.summary-div {
  display: flex;
  width: 12vw !important;
  height: 90px !important;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  border-radius: 7px;
  /* border: 0.71px solid #a9a9a9; */
  /* background: #fff; */
}

.summary-div-num {
  color: #000;
  font-family: Inter;
  font-size: 35.476px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.summary-div-text {
  width: 10vw;
  color: #535353;
  /* text-align: center; */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 168%; /* 19.687px */
  letter-spacing: -0.234px;
}
